.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
  animation: fadein 0.7s forwards;
}
@keyframes fadein {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.affiliation {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4px;
}
